
.sidebarRow{
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

}

.sidebarLeft{
    flex:50%;
    height: 25px;
    line-height: 25px;
    justify-content: right;
    text-align: right;
    margin-right:5px;
}

.sidebarRight{
    flex:50%;
    height: 25px;
    justify-content: left;
    margin-left:5px;
}

.sidebar__description{
    font-size: 14px;
    color: white;
}

.sidebarDropdown{
    width: 100%;
    height: 100%;
    background-color: #333333;
    color:white;
    border:0;
}

.sbButton{
    width: 100%;
    height: 100%;
    background-color: #777777;
    color:white;
}

.sbCheckbox{
    width: 20px;
    height: 20px;
    background: #333333;
    border:0;
}

.blSlider{
    position: relative;
    width:100%;
    background-color: #333333;
    height:100%;
    justify-content: left;
}
.blSliderBar{
    height: 100%;
    width:30%;
    background-color: rgb(216, 86, 0);
}

.blSliderOverlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.inputNumberEditor{
    text-align: center;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    color:white;
    border:none;
    margin:0;
    padding:0;
}

.blSlider__decrement{
    position: absolute;
    display:flex;
    top:0;
    left:0;
    width: 20px;
    height:100%;
    background-color: rgba(0.2,0.2,0.2,0.2);
    color:white;
    border:0;
    cursor:pointer;
}

.blSlider__increment{
    position: absolute;
    display:flex;
    top:0;
    right:0;
    width: 20px;
    height:100%;
    background-color: rgba(0.2,0.2,0.2,0.2);
    color:white;
    border:0;
    cursor:pointer;
}

.blSlider .blSlider__increment{
    visibility: hidden;
}

.blSlider:hover .blSlider__increment{
    visibility: visible;
}

.blSlider .blSlider__decrement{
    visibility: hidden;
}

.blSlider:hover .blSlider__decrement{
    visibility: visible;
}

.blSlider__icon{
    margin:auto;
}

.sidebarTextInput{
    width: 100%;
    height: 100%;
    background-color: #333333;
    color:white;
    border:0;
}