#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.oa-dark{
  background-color: #434343;
}

.bg-darker{
  background-color: #232323;
}


.wrapper {
  display: flex;
  width: 100%;

}

.sidebar {
  order:1;
  height: 90vh;
  width: 300px;
}

.content{
  height: 90vh;
  width: 100%;
  order:2;
  background-color: #333333;
}

.std-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.align-right{
  justify-content: right;
}

.icon{
  margin:auto;
  height:70%;
  width:70%;
}

.icon-button{
  background-color: #333333;
  display:flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  border: none;
  outline: none;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 20px 20px 20px 20px;
}

[data-tab-content]{
  display:none
}

.active[data-tab-content]{
  display:block
}


#icon-column div:hover{
  background-color: darkorange;
}

#icon-column div.active{
  border-radius: 15px 0px 0px 15px;
  background-color: #434343;
}

.sidebar-header{
  display:flex;
  justify-content: center;
  padding-top:8px;
  padding-bottom:8px;
}

.sidebar-row{
  font-size: 12px;
  display:flex;
  justify-content: center;
  padding-top:5px;
  padding-bottom:5px;
}


.sidebar-left{
  display:flex;
  flex:50%;
  justify-content:right;
  margin:auto;
  padding-right:8px
}

.sidebar-right{
  display:flex;
  flex:50%;
  justify-content:left;
  margin:auto;
  padding-left:8px
}

.sidebar-dropdown{
  background-color: #333333;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

select {
  width:100px; 
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis;
}

select:focus{
      outline:none;
}

.leftright-button{
  width:10px;
  height:20px;
  background-color: #232323;
  color: #dddddd;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}

.leftright-button:hover{
  background-color: orange;
}

.leftright-button-img{
  width:80%;
  margin:auto;
  height:80%;
}

.sidebar-number-input{
  width:30%;
  height:20px;
  background-color: #232323;
  color: #dddddd;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}

.sidebar-button{
  width:80%;
  height:20px;
  background-color: #3a3a3a;
  color: #dddddd;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}

